.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    margin-top: 5px;
    width: 34px;
    height: 34px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 22px;
    bottom: 12px;
  }
}
