.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 70px;
}

.title1 {
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 40px;
}

span {
  &:hover {
    cursor: pointer;
  }
}
